* text=auto

# typescript
*.ts                text eol=lf
*.d.ts              text eol=lf

# json
*.json              text eol=lf

# markdown
*.md                text eol=lf

# environment
*.env               text eol=lf

# git/config
.gitattributes      text eol=lf
.gitignore          text eol=lf